.main-pane {
    -fx-background-color: #fafafa;
    -fx-font-size: 16px;
    -fx-font-family: "Source Sans Pro", sans-serif;
    -fx-font-color: #212121;
}

.menu-bar {
    -fx-font-size: 13px;
}

/** OVERRIDES **/

.scroll-pane {
    -fx-background-color:transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar {
    -fx-background-color:transparent;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #757575;
    -fx-background-radius: 10px;
}

.scroll-pane .scroll-bar .increment-button,
.scroll-pane .scroll-bar .decrement-button {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.scroll-pane .scroll-bar .increment-button .increment-arrow,
.scroll-pane .scroll-bar .decrement-button .decrement-arrow {
    -fx-padding: 0;
}

.hyperlink {
    -fx-padding: 0;
}

/** END OVERRIDES **/

.sidebar {
    -fx-padding: 12px;
}

.sidebar-container {
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-padding: 4px 0 4px;
}

.sidebar-container .scroll-pane {
    -fx-padding: 4px 12px;
}

.command-output-container {
    -fx-background-color: #fbe9e7;
    -fx-border-color: #ff7043;
    -fx-border-insets: 0 0 12px 0;
    -fx-background-insets: 0 0 12px 0;
}

.stats-container {
    -fx-background-color: #fffde7;
    -fx-border-color: #fbc02d;
}

.content-pane {
    -fx-padding: 12px 0 12px 12px;
}

#commandTextField {
    -fx-background-color: #eeeeee;
    -fx-font-size: 20px;
    -fx-prompt-text-fill: #757575;
    -fx-background-radius: 4px;
    -fx-border-color: #757575;
    -fx-border-radius: 4px;
    -fx-padding: 12px 10px;
}

.command-input-container {
    -fx-padding: 0 0 12px 0;
}

.tab-bar {
    -fx-background-color: #fff3e0;
    -fx-background-radius: 4px;
    -fx-border-color: #ffb74d;
    -fx-border-radius: 4px;
    -fx-border-insets: 12px 0 0 0;
    -fx-background-insets: 12px 0 0 0;
}

.tab-button {
    -fx-font-size: 18px;
    -fx-font-family: "Source Sans Pro";
    -fx-padding: 8px 32px;
    -fx-background-radius: 4px;
    -fx-background-color: transparent;
    -fx-content-display: top;
}
.tab-button:hover {
    -fx-background-color: #ffe0b2;
}

.tab-button:pressed,
.tab-button-selected,
.tab-button-selected:hover {
    -fx-background-color: #ffcc80;
}

.welcome-pane {
    -fx-padding: 20px 60px;
}

.welcome-message {
    -fx-padding: 40px 0px 0px 0px;
    -fx-font-family: "Source Sans Pro Light";
    -fx-font-size: 36px;
}

/* -------------------- RECIPE CARD THINGS -------------------- */
.recipe-card-number {
    -fx-font-size: 14px;
    -fx-padding: 12px;
}

.recipe-card-button {
    -fx-border-color: #795548;
    -fx-border-radius: 6px;
    -fx-background-color: #efebe9;
    -fx-background-radius: 6px;
    -fx-content-display: top;
}

.recipe-card-button:hover {
    -fx-background-color: #d7ccc8;
}

.recipe-card-button:pressed {
    -fx-background-color: #bcaaa4;
}

.recommendationCardContainer {
    -fx-background-color: #e8eaf6;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #212121;
    -fx-background-radius: 6;
    -fx-border-color: #3f51b5;
    -fx-border-radius: 6;
    -fx-padding: 12 20 0 12;
}

.recommendationContainer {
    -fx-padding: 0 16 0 0;
}

.recommendationText,
.recommendationText .scroll-pane,
.recommendationText .scroll-pane .viewport,
.recommendationText .scroll-pane .content {
    -fx-background-color: #e8eaf6;
    -fx-padding: 0;
}

/* -------------------- RECIPE VIEW THINGS -------------------- */
.rvRecipeName {
    -fx-font-size: 36px;
    -fx-padding: 16px 8px 8px;
}

.rvIngredientDisplay,
.rvStepDisplay {
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-padding: 14px 18px;
    -fx-spacing: 12;
}

.rvIngredientDisplay {
    -fx-background-color: #f1f8e9;
    -fx-border-color: #8bc34a;
}

.rvStepDisplay {
    -fx-background-color: #fff3e0;
    -fx-border-color: #ff9800;
    -fx-border-insets: 0 0 0 12px;
    -fx-background-insets: 0 0 0 12px;
}

.rvIngredientHeader,
.rvStepHeader {
    -fx-font-size: 20px;
    -fx-underline: true;
    -fx-font-family: "Source Sans Pro SemiBold";
}

.rvIngredientList,
.rvStepList {
    -fx-line-spacing: 4;
}

.rvTagDisplay {
    -fx-padding: 16px 8px;
}

.rvTagItem {
    -fx-font-size: 11pt;
    -fx-background-color: #ffab91;
    -fx-background-radius: 5px;
    -fx-padding: 4px 8px;
}

/* -------------------- INGREDIENT CARD THINGS -------------------- */
.icName {
    -fx-text-align: center;
    -fx-text-alignment: center;
    -fx-vertical-align: top;
}

.icNumber, .icQuantity {
   -fx-font-size: 14px;
   -fx-padding: 12px;
}

.icExpiry {
    -fx-font-size: 11pt;
}

.icButton {
    -fx-padding: 0 0 16px 0;
    -fx-border-color: #795548;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-background-color: #efebe9;
}

.icButton:hover {
    -fx-background-color: #d7ccc8;
}

.icButton:pressed {
    -fx-background-color: #bcaaa4;
}

.icTagList {
    -fx-padding: 8px;
}

.icTagList .label {
    -fx-text-fill: #fafafa;
    -fx-background-color: #00897b;
    -fx-padding: 2px 4px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-font-size: 11px;
}
