---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.icon {
    height: 21px;
    width: 21px
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

#markdown-toc ul, #markdown-toc li {
    list-style: none;
}

.owo {
    display: none;
}

#cover-page {
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#cover-page-logo {
    display: block;
    width: 60%;
}

#cover-page-title {
    width: 100%;
    margin-top: 0;
}

#cover-page-title h1 {
    margin-top: -80px;
}
