.background {
    -fx-background-color: derive(#363c43, 0%);
    background-color: #323232; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #323232;
    -fx-opacity: 1.0;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #363c43;
    -fx-control-inner-background: #363c43;
    -fx-background-color: #363c43;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: #363c43;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: blue;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#363c43, 0%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#363c43, 0%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#363c43, 0%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #ced5d7;
}

.list-cell:filled:odd {
    -fx-background-color: #eecd4c;
}

.list-cell:filled:selected:even {
    -fx-background-color: #e7eaea;
    -fx-border-color: #363c43;
    -fx-border-width: 3;
}

.list-cell:filled:selected:odd {
    -fx-background-color: #fccd2c;
    -fx-border-color: #363c43;
    -fx-border-width: 3;
}

.list-cell .label {
    -fx-text-fill: #231f20;
}

.cell_big_label {
    -fx-font-family: "monospace";
    -fx-font-size: 18px;
    -fx-text-fill: #010504;
    -fx-font-weight: bold;

}

.cell_small_label {
    -fx-font-family: "monospace";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label_header {
    -fx-font-family: "monospace";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
    -fx-font-weight: bold;
}

.stack-pane {
     -fx-background-color: derive(#363c43, 0%);
}

.pane-with-border {
     -fx-background-color: derive(#323232, 0%);
     -fx-border-color: derive(#323232, 0%);
     -fx-border-top-width: 0px;
}

.pane-with-border-main {
    -fx-background-color: derive(#323232, 0%);
    -fx-border-color: derive(#323232, 0%);
    -fx-border-top-width: 0px;
    -fx-background-radius: 5;
}

.pane-with-border-anchor {
    -fx-background-color: derive(#ffffff, 0%);
    -fx-border-color: derive(#ffffff, 0%);
    -fx-border-top-width: 0px;
}

.status-bar {
    -fx-background-color: derive(#323232, 0%);
}

.result-display {
    -fx-background-color: #363c43;
    -fx-font-family: "monospace";
    -fx-font-size: 11pt;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: red !important;
}

.status-bar .label {
    -fx-font-family: "Aileron";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#363c43, 30%);
    -fx-border-color: derive(#363c43, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#363c43, 0%);
    -fx-border-color: derive(#363c43, 0%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#363c43, 0%);
}

.context-menu {
    -fx-background-color: derive(#363c43, 0%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: derive(#363c43, 0%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Aileron";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-background-radius: 5;
    -fx-background-color: #29292d;
    -fx-font-family: "Segoe UI", Aileron, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #29292d;
  -fx-text-fill: #d8d8d8;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.chart {
    -fx-padding: 0 5 20 5;
    -fx-font-family: "Segoe UI", Aileron, Arial, sans-serif;
    -fx-background-color: #363636;
}

.chart-content {
    -fx-padding: 0 5 20 5;
}

.chart-pie-label {
     -fx-font-size: 15;
     -fx-fill: #FFFFFF;
}

.chart-area-symbol{
    -fx-background-radius: 0;
}

.chart-label {
    -fx-font-size: 15;
    -fx-font-color: #FFFFFF;
}

.chart-title {
    -fx-padding: 30 0 0 0;
    -fx-font-size: 25;
    -fx-text-fill: #FFFFFF;
    -fx-underline: true;
}

.dialog-pane {
    -fx-background-color: #363c43;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #363c43;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#363c43, 0%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: derive(#323232, 0%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#f4fafe, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.bookmark {
    -fx-background-image: url(../images/bookmark.png);
    -fx-background-size: 25px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: top;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#cardNoteBox {
    -fx-border-color: black;
        -fx-border-insets: 0;
        -fx-border-width: 1;
        -fx-border-style: dashed;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent #383838 transparent #383838;
    -fx-background-insets: 0;
    -fx-border-color: #383838 #383838 #383838 #383838;
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, #363c43, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, #363c43, transparent, #363c43;
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#notesBox {
    -fx-border-color: transparent transparent transparent black;
    -fx-border-insets: 5;
    -fx-border-width: 1;
    -fx-border-style: dashed;
}

#notesBox #notes {
    -fx-font-size: 13px
}


.pane-with-border-notes {
    -fx-background-color: derive(#323232, 0%);
    -fx-border-color: derive(#323232, 0%);
    -fx-border-top-width: 0px;
    -fx-background-radius: 5;
}

.note-list-panel-vbox .list-cell:filled:even {
    -fx-background-color: #8ABAFF;
}

.note-list-panel-vbox .list-cell:filled:odd {
    -fx-background-color: #FF8A9E;
}

.note-list-panel-vbox .list-cell:filled:selected:even {
    -fx-background-color: #B9D6FF;
    -fx-border-color: #363c43;
    -fx-border-width: 3;
}

.note-list-panel-vbox .list-cell:filled:selected:odd {
    -fx-background-color: #FFDCE2;
    -fx-border-color: #363c43;
    -fx-border-width: 3;
}


