#participants {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#participants .label {
    -fx-text-fill: white;
    -fx-background-color: #329568;
    -fx-padding: 1 5 1 5;
    -fx-border-radius: 2;
    -fx-background-radius: 50;
    -fx-font-size: 11;
}

.scroll-bar {
    -fx-background-color: #121212;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#121212, 20%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}
