.background {
    -fx-background-color: white;
}

.ApplicationLabel{

}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-padding: 0 0 0 0;
    -fx-border-color: #f7f6f3;
}

.split-pane {
    -fx-background-color: #e8e7e4;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #bed0f7;
}

.list-cell:filled:odd {
    -fx-background-color: #e0e8f9;
}

.list-cell:filled:selected {
    -fx-background-color: #7e9dde;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #f7f6f3;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.stack-pane {
     -fx-background-color: white;
}

.pane-with-border {
     -fx-background-color: white;
     -fx-border-color: white;
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: #e0e8f9;
    -fx-border-color: white;
    -fx-border-width: 0px;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: white;
    -fx-border-color: #f7f6f3;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: black;
}

.grid-pane {
    -fx-background-color: white;
    -fx-border-color: #f7f6f3;
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: white;
}

.context-menu {
    -fx-background-color: white
}

.context-menu .label {
    -fx-text-fill: black;
}

.menu-bar {
    -fx-background-color: #e0e8f9;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #e0e8f9;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #e0e8f9;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #e0e8f9;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #e0e8f9;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #e0e8f9;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: #e0e8f9;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(#e0e8f9, 30%);
}

.dialog-pane {
    -fx-background-color: white;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: white;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: white;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: #f7f6f3;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#a9a9a9, 50%);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-insets: 3;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #a9a9a9;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-radius: 8px;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -fx-padding: 6 8 6 8;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#comments {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#comments .label {
    -fx-text-fill: black;
    -fx-background-color: #FFC0CB;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#leaves {
    -fx-hgap: 7;
    -fx-vgap: 3;
}


#leaves .label {
    -fx-text-fill: white;
    -fx-background-color: #91443e;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#sideBar {
    -fx-background-color: #e0e8f9;
}

#EvaLogo {
    -fx-background-color: #e0e8f9;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #19216c;
    -fx-pref-height: 36px;
    -fx-min-height: 36px;
    -fx-padding: 0 16px 0 16px;
}

#appHead {
    -fx-background-color: #e0e8f9;
    -fx-padding: 0 16px 0 16px;
}

#applicationName {
    -fx-padding: 16px 16px 0 16px;
}

#experienceSection {
    -fx-padding: 0 16px 0 16px;
}

#educationSection {
    -fx-padding: 0 16px 0 16px;
}
