
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #383838;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

/*----------------------------------------- Project Dashboard ---------------------------------------------------*/

#dashboardLabel {
    -fx-font: 45pt"Arial";
}

#dashboardPT {
    -fx-font: 25pt"Arial";
}

#dashboardDeadline {
    -fx-font: 15pt"Arial";
}

#dashboardPD {
    -fx-font: 15pt"Arial";
}

#dashboardRU {
    -fx-font: 15pt"Arial";
}

#dashboardTask {
    -fx-font: 25pt"Arial";
}

#dashboardH1 {
    -fx-font: 25pt"Arial";
}

#dashboardH2 {
    -fx-font: 25pt"Arial";
}

#dashboardH3 {
    -fx-font: 25pt"Arial";
}

/*--------------------------------------- Task Dashboard ---------------------------------------------------*/

#taskLabel {
    -fx-font: 45pt"Arial";
}

#taskDesc {
    -fx-font: 15pt"Arial";
}

#taskPD {
    -fx-font: 15pt"Arial";
}

#taskDeadline {
    -fx-font: 15pt"Arial";
}

#taskProgress {
    -fx-font: 15pt"Arial";
}

#taskH1 {
    -fx-font: 15pt"Arial";
}

/*--------------------------------------- Teammate Dashboard ---------------------------------------------------*/

#teammateLabel {
    -fx-font: 45pt"Arial";
}

#teammateGithub {
    -fx-font: 15pt"Arial";
}

#teammatePhone {
    -fx-font: 15pt"Arial";
}

#teammateEmail {
    -fx-font: 15pt"Arial";
}

#teammateAddress {
    -fx-font: 15pt"Arial";
}

#teammateH1 {
    -fx-font: 15pt"Arial";
}