
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: derive(#F3CE8F, 20%);
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

#Header {
    -fx-font: 25pt"Arial";
    -fx-background-color: #F3CE8F;
}

#Title {
    -fx-font: 45pt"Arial";
    -fx-background-color: #F3CE8F;
}

#List {
    -fx-font: 15pt"Arial";
}

/*----------------------------------------- Project Dashboard ---------------------------------------------------*/

#dashboardPT {
    -fx-font: 25pt"Arial";
}

#dashboardDeadline {
    -fx-font: 15pt"Arial";
}

#dashboardPD {
    -fx-font: 15pt"Arial";
}

#dashboardRU {
    -fx-font: 15pt"Arial";
}

#dashboardTask {
    -fx-font: 25pt"Arial";
}

/*--------------------------------------- Task Dashboard ---------------------------------------------------*/

#taskDesc {
    -fx-font: 15pt"Arial";
}

#taskPD {
    -fx-font: 15pt"Arial";
}

#taskDeadline {
    -fx-font: 15pt"Arial";
}

#taskProgress {
    -fx-font: 15pt"Arial";
}

/*--------------------------------------- Teammate/Person Dashboard ---------------------------------------------------*/

#teammateGithub {
    -fx-font: 15pt"Arial";
}

#teammatePhone {
    -fx-font: 15pt"Arial";
}

#teammateEmail {
    -fx-font: 15pt"Arial";
}

#teammateAddress {
    -fx-font: 15pt"Arial";
}

