/*----------label box----------*/
.label-box {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 11px;
    -fx-text-fill: white;
    -fx-background-color: #505B60;
    -fx-background-radius: 5;
    -fx-opacity: 0.9;
}
