/* -------- Custom Coloring ----------- */
.root {
    /* -fx-background-image: url("../images/bg-img-60.png");  */
    /* -fx-background-size: stretch; */
    -fx-background-color: #355C7D;
}

.innerCommandBox {
    -fx-background-color: #0f143c;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-font-family: "Ubuntu Mono";
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.commandBox-TextField {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Ubuntu Mono";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.statusBar-with-border {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#resultDisplay .content {
    -fx-background-color: black;
    -fx-border-color: transparent;
    -fx-background-radius: 0 ;
}

.resultDisplayPane {
    -fx-background-color: transparent;/*black*/
    -fx-border-color: transparent;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Ubuntu Mono";
    -fx-font-size: 10pt;
    -fx-text-fill: #90EE90;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
}
