#commandTextField {
    -fx-background-color: rgba(187, 147, 152, 0.9);
    -fx-background-insets: 0;
    -fx-border-color: #B0838D #B0838D #ffffff #B0838D;
    -fx-border-insets: 20 20 25 20;
    -fx-border-width: 1;
    -fx-font-family: "Consolas";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.root {
    -fx-background-image: url("https://i.imgur.com/r72PtJO.png");
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-pref-height: 30px;
}

.menu-bar {
    -fx-background-color: #64545c;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.context-menu {
    -fx-background-color: derive(#1d1d1d, 50%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.text-field {
    -fx-background-color: black;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}