.background {
    -fx-background-color: derive(#ffffff, 20%);
}
.main-pane {
    -fx-background-color: derive(#ffffff, 20%);
}
.tab-bar {
    -fx-background-color: #fff3e0;
    -fx-background-radius: 4;
    -fx-border-color: #ffb74d;
    -fx-border-radius: 4;
}
.tab-button {
    -fx-padding: 2 2 2 2;
    -fx-background-radius: 4;
    -fx-background-color: transparent;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12pt;
    -fx-text-fill: #000000;
    -fx-background-insets: 0 -1 1 0, 0, 1, 2;
    -fx-focus-color: #ffe0b2;
    -fx-faint-focus-color: #ffe0b2;
}
.tab-button:hover {
    -fx-background-color: #ffe0b2;
}
.tab-button:pressed {
    -fx-background-color: #ffcc80;
}
.recipe-button {
    -fx-padding: 2;
    -fx-border-color: #795548;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-background-color: #efebe9;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12pt;
    -fx-text-fill: #212121;
    -fx-font-color: #212121;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-focus-color: #d7ccc8;
    -fx-faint-focus-color: #d7ccc8;
}
.recipe-button:hover {
    -fx-background-color: #d7ccc8;
}
.recipe-button:pressed {
    -fx-background-color: transparent;
}
.label-button {
    -fx-font-family: "Helvetica";
    -fx-font-size: 12.5pt;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15px;
    -fx-text-fill: #fa47df;
}
.cell-big-label {
    -fx-font-family: "Helvetica";
    -fx-font-size: 22pt;
}
#commandTextField {
    -fx-background-color: #eeeeee;
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #212121;
    -fx-prompt-text-fill: #757575;
    -fx-background-radius: 4;
    -fx-border-color: #757575;
    -fx-border-radius: 4;
    -fx-padding: 12 10;
}
#ingredientDisplay {
    -fx-background-color: #fafafa;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #212121;
    -fx-prompt-text-fill: #212121;
    -fx-background-radius: 20 20 20 20;
}
#instructionDisplay {
    -fx-background-color: #fff3e0;
    -fx-border-color: #ff9800;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #212121;
    -fx-prompt-text-fill: #212121;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-padding: 6;
}
#displayBox {
    -fx-background-color: #fbe9e7;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #212121;
    -fx-background-radius: 6;
    -fx-border-color: #ff7043;
    -fx-border-radius: 6;
    -fx-padding: 8 12;
}
#displayBox .scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#displayBox .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#displayBox .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#recipeName {
    -fx-font-size: 20pt;
    -fx-font-color: #575555;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
#ingredientDisplay {
    -fx-background-color: #f1f8e9;
    -fx-background-radius: 6;
    -fx-border-color: #8bc34a;
    -fx-border-radius: 6;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #212121;
    -fx-padding: 6;
}
#ingredientDisplay .scroll-pane {
    -fx-background-color: #f1f8e9;
    -fx-background-radius: 6;
}
#ingredientDisplay .scroll-pane .viewport {
    -fx-background-color: #f1f8e9;
    -fx-background-radius: 6;
}
#ingredientDisplay .scroll-pane .content{
    -fx-background-color: #f1f8e9;
    -fx-background-radius: 6;
}
#instructionDisplay {
    -fx-background-color: #f7e9cd;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #575555;
}
#instructionDisplay .scroll-pane {
    -fx-background-color: #f7e9cd;
    -fx-background-radius: 6;
}
#instructionDisplay .scroll-pane .viewport {
    -fx-background-color: #f7e9cd;
    -fx-background-radius: 6;
}
#instructionDisplay .scroll-pane .content{
    -fx-background-color: #f7e9cd;
    -fx-background-radius: 6;
}
#favouriteBox {
    -fx-background-color:transparent;
}
#pins {
    -fx-background-color: #fffde7;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #212121;
    -fx-background-radius: 6;
    -fx-border-color: #fbc02d;
    -fx-border-radius: 6;
    -fx-padding: 8 4;
}
#pins .scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#pins .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#pins .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#name {
    -fx-text-fill: #212121;
    -fx-padding: 6 10 0;
}
#displayAreaPlaceholder {
    -fx-background-color: white;
}
#recipePanel {
    -fx-background-color: white;
}
#recipePanel .viewport {
    -fx-background-color: white;
}
#ingredientPanel {
    -fx-background-color: white;
}
#ingredientPanel .viewport {
    -fx-background-color: white;
}
#recipeGridView {
    -fx-background-color: white;
}
#textDisplay {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

#textDisplay .content {
    -fx-background-color: transparent, white, transparent, white;
}

#textDisplay:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

#textDisplay:focused {
    -fx-highlight-fill: #7ecfff;
}

#textDisplay .content {
    -fx-padding: 2px;
    -fx-highlight-fill: #7ecfff;
}
#anchor {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}
