.background {
    -fx-background-color: derive(#ffffff, 20%);
}
.main-pane {
    -fx-background-color: derive(#ffffff, 20%);
}
.tab-button {
    -fx-padding: 2 2 2 2;
    -fx-border-color: #f6f6f6;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #f6f6f6;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12pt;
    -fx-text-fill: #000000;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.label-button {
    -fx-font-family: "Helvetica";
    -fx-font-size: 14pt;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15px;
    -fx-text-fill: #fa47df;
}
.cell-big-label {
    -fx-font-family: "Helvetica";
    -fx-font-size: 22pt;
}
#commandTextField {
    -fx-background-color: rgba(0.96,0.96,0.96,0.7);
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-color: #575555;
    -fx-prompt-text-fill: #575555;
    -fx-background-radius: 10 10 0 0;
}
#favouriteBox {
    -fx-background-color:transparent;
}
