.background {
    -fx-background-color: derive(#ffffff, 20%);
}
.main-pane {
    -fx-background-color: derive(#ffffff, 20%);
}
.tab-button {
    -fx-padding: 2 2 2 2;
    -fx-border-color: #f6f6f6;
    -fx-border-width: 2;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
    -fx-background-color: #f6f6f6;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12pt;
    -fx-text-fill: #000000;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-focus-color: #d6d4d4;
    -fx-faint-focus-color: #d6d4d4;
    -fx-border-color: transparent;
}
.tab-button:hover {
    -fx-background-color: #d6d4d4;
}
.tab-button:pressed {
    -fx-background-color: transparent;
}
.recipe-button {
    -fx-padding: 2 2 2 2;
    -fx-border-color: #f6f6f6;
    -fx-border-width: 2;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
    -fx-background-color: #f6f6f6;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12pt;
    -fx-text-fill: #fa47df;
    -fx-font-color: #fa47df;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-focus-color: #d6d4d4;
    -fx-faint-focus-color: #d6d4d4;
    -fx-border-color: black;
}
.recipe-button:hover {
    -fx-background-color: #d6d4d4;
}
.recipe-button:pressed {
    -fx-background-color: transparent;
}
.label-button {
    -fx-font-family: "Helvetica";
    -fx-font-size: 14pt;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15px;
    -fx-text-fill: #fa47df;
}
.cell-big-label {
    -fx-font-family: "Helvetica";
    -fx-font-size: 22pt;
}
.pins-background {
    -fx-background-color: green;
    -fx-fill: #f7e9cd;
}
#commandTextField {
    -fx-background-color: #d6d4d4;
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #575555;
    -fx-prompt-text-fill: #575555;
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: black;
    -fx-border-radius: 10 10 10 10;
    -fx-padding: 5 5  5;
    -fx-border-insets: 5 5 0 5;
    -fx-background-insets: 5 5 0 5;
}
#ingredientDisplay {
    -fx-background-color: rgba(0.96,0.96,0.96,0.7);
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #575555;
    -fx-prompt-text-fill: #575555;
    -fx-background-radius: 20 20 20 20;
}
#instructionDisplay {
    -fx-background-color: rgba(0.96,0.96,0.96,0.7);
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #575555;
    -fx-prompt-text-fill: #575555;
    -fx-background-radius: 20 20 20 20;
}
#displayBox {
    -fx-background-color: transparent;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #575555;
}
#displayBox .scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#displayBox .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#displayBox .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#recipeName {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-color: #575555;
}
#recipeName .scroll-pane {
    -fx-background-radius: 10 10 10 10;
}
#recipeName .scroll-pane .viewport {
    -fx-background-radius: 10 10 10 10;
}
#recipeName .scroll-pane .content{
    -fx-background-radius: 10 10 10 10;
}
#ingredientDisplay {
    -fx-background-color: #bcf5bc;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #575555;
}
#ingredientDisplay .scroll-pane {
    -fx-background-color: #bcf5bc;
    -fx-background-radius: 10 10 10 10;
}
#ingredientDisplay .scroll-pane .viewport {
    -fx-background-color: #bcf5bc;
    -fx-background-radius: 10 10 10 10;
}
#ingredientDisplay .scroll-pane .content{
    -fx-background-color: #bcf5bc;
    -fx-background-radius: 10 10 10 10;
}
#instructionDisplay {
    -fx-background-color: #f7e9cd;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #575555;
}
#instructionDisplay .scroll-pane {
    -fx-background-color: #f7e9cd;
    -fx-background-radius: 10 10 10 10;
}
#instructionDisplay .scroll-pane .viewport {
    -fx-background-color: #f7e9cd;
    -fx-background-radius: 10 10 10 10;
}
#instructionDisplay .scroll-pane .content{
    -fx-background-color: #f7e9cd;
    -fx-background-radius: 10 10 10 10;
}
#favouriteBox {
    -fx-background-color:transparent;
}
#pins {
    -fx-background-color: transparent;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #575555;
}
#pins .scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#pins .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#pins .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#name {
    -fx-text-fill: #fa47df;
}
#displayAreaPlaceholder {
    -fx-background-color: white;
}
#recipePanel {
    -fx-background-color: white;
}
#recipePanel .viewport {
    -fx-background-color: white;
}
#ingredientPanel {
    -fx-background-color: white;
}
#ingredientPanel .viewport {
    -fx-background-color: white;
}
#recipeGridView {
    -fx-background-color: white;
}
#textDisplay {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

#textDisplay .content {
    -fx-background-color: transparent, white, transparent, white;
}

#textDisplay:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

#textDisplay:focused {
    -fx-highlight-fill: #7ecfff;
}

#textDisplay .content {
    -fx-padding: 2px;
    -fx-highlight-fill: #7ecfff;
}
#anchor {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}
