.background {
    -fx-background-color: derive(#ffffff, 20%);
}
.main-pane {
    -fx-background-color: derive(#ffffff, 20%);
}
.tab-bar {
    -fx-background-color: #fff3e0;
    -fx-background-radius: 4;
    -fx-border-color: #ffb74d;
    -fx-border-radius: 4;
}
.tab-button {
    -fx-padding: 2 2 2 2;
    -fx-background-radius: 4;
    -fx-background-color: transparent;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12pt;
    -fx-text-fill: #000000;
    -fx-background-insets: 0 -1 1 0, 0, 1, 2;
    -fx-focus-color: #ffe0b2;
    -fx-faint-focus-color: #ffe0b2;
}
.tab-button:hover {
    -fx-background-color: #ffe0b2;
}
.tab-button:pressed {
    -fx-background-color: #ffcc80;
}
.tab-button-selected {
    -fx-padding: 2 2 2 2;
    -fx-background-radius: 4;
    -fx-background-color: ffe0b2;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12pt;
    -fx-text-fill: #000000;
    -fx-background-insets: 0 -1 1 0, 0, 1, 2;
    -fx-focus-color: #ffe0b2;
    -fx-faint-focus-color: #ffe0b2;
}
.tab-button-selected:hover {
    -fx-background-color: #ffe0b2;
}
.tab-button-selected:pressed {
    -fx-background-color: #ffe0b2;
}
.label-button {
    -fx-font-family: "Helvetica";
    -fx-font-size: 12.5pt;
}

.ingredient-button {
    -fx-padding: 2;
    -fx-border-color: #795548;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-background-color: #efebe9;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-focus-color: #d7ccc8;
    -fx-faint-focus-color: #d7ccc8;
}
.ingredient-button:hover {
 -fx-background-color: #d7ccc8;
}
.ingredient-button:pressed {
 -fx-background-color: transparent;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15px;
    -fx-text-fill: #fa47df;
}
.cell-big-label {
    -fx-font-family: "Helvetica";
    -fx-font-size: 22pt;
}
#commandTextField {
    -fx-background-color: #eeeeee;
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #212121;
    -fx-prompt-text-fill: #757575;
    -fx-background-radius: 4;
    -fx-border-color: #757575;
    -fx-border-radius: 4;
    -fx-padding: 12 10;
}



/* -------------------- RECIPE VIEW THINGS -------------------- */
.rvRecipeName {
    -fx-font-size: 20pt;
    -fx-font-color: #575555;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding-top: 25px;
    -fx-padding-left: 25px;
}
.rvIngredientDisplay {
    -fx-background-color: #f1f8e9;
    -fx-background-radius: 6;
    -fx-border-color: #8bc34a;
    -fx-border-radius: 6;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #212121;
    -fx-padding: 12;
    -fx-spacing: 12;
}
.rvIngredientHeader {
    -fx-font-size: 14pt;
}
.rvIngredientList {
    -fx-font-size: 11pt;
    -fx-line-spacing: 4;
}
.rvStepDisplay {
    -fx-background-color: #fff3e0;
    -fx-border-color: #ff9800;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #212121;
    -fx-prompt-text-fill: #212121;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-padding: 12;
    -fx-spacing: 12;
}
.rvStepHeader {
    -fx-font-size: 14pt;
}
.rvStepList {
    -fx-font-size: 11pt;
    -fx-line-spacing: 4;
}
.rvTagDisplay {
    -fx-padding: 6;
    -fx-spacing: 6;
}
.rvTagItem {
    -fx-font-size: 11pt;
    -fx-font-color: #212121;
    -fx-prompt-text-fill: #212121;
    -fx-font-family: "Segoe UI";
    -fx-background-color: #ffab91;
    -fx-background-radius: 5;
    -fx-padding: 4;
}
.rvTagList {
    -fx-hgap: 6;
    -fx-vgap: 6;
}

/* -------------------- RECIPE CARD THINGS -------------------- */
.rcName {
    -fx-font-size: 11.5pt;
    -fx-text-align: center;
    -fx-text-alignment: center;
    -fx-vertical-align: center;
}
.rcNameFlow {
    -fx-text-alignment: center;
    -fx-vertical-align: center;
}
.rcNumber {
    -fx-font-size: 11pt;
}
.rcButton {
    -fx-padding: 4;
    -fx-border-color: #795548;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-background-color: #efebe9;
    -fx-font-size: 12pt;
    -fx-text-fill: #212121;
    -fx-font-color: #212121;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-focus-color: #d7ccc8;
    -fx-faint-focus-color: #d7ccc8;
}
.rcButton:hover {
    -fx-background-color: #d7ccc8;
}
.rcButton:pressed {
    -fx-background-color: transparent;
}



/* -------------------- INGREDIENT CARD THINGS -------------------- */
.icName {
    -fx-font-size: 11.5pt;
    -fx-text-align: center;
    -fx-text-alignment: center;
    -fx-vertical-align: top;
}
.icNumber {
    -fx-font-size: 11pt;
}
.icExpiry {
    -fx-font-size: 11pt;
}
.icQuantity {
    -fx-text-alignment: right;
    -fx-font-size: 11pt;
}
.icButton {
     -fx-padding: 4;
     -fx-border-color: #795548;
     -fx-background-radius: 4;
     -fx-border-radius: 4;
     -fx-background-color: #efebe9;
     -fx-background-insets: 0 0 0 0, 0, 1, 2;
     -fx-focus-color: #d7ccc8;
     -fx-faint-focus-color: #d7ccc8;
}
.icButton:hover {
    -fx-background-color: #d7ccc8;
}
.icButton:pressed {
    -fx-background-color: transparent;
}
.icTagList {
    -fx-hgap: 4;
    -fx-vgap: 2;
}
.icTagList .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}





#displayBox {
    -fx-background-color: #fbe9e7;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #212121;
    -fx-background-radius: 6;
    -fx-border-color: #ff7043;
    -fx-border-radius: 6;
    -fx-padding: 8 12;
}
#displayBox .scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#displayBox .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#displayBox .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}


#favouriteBox {
    -fx-background-color:transparent;
}
#statsBox {
    -fx-background-color: #fffde7;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #212121;
    -fx-background-radius: 6;
    -fx-border-color: #fbc02d;
    -fx-border-radius: 6;
    -fx-padding: 8 4;
}

#statsBox .scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#statsBox .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#statsBox .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#name {
    -fx-text-fill: #212121;
    -fx-padding: 6 10 0;
}
#displayAreaPlaceholder {
    -fx-background-color: white;
}
#recipePanel {
    -fx-background-color: white;
}
#recipePanel .viewport {
    -fx-background-color: white;
}
#ingredientPanel {
    -fx-background-color: white;
}
#ingredientPanel .viewport {
    -fx-background-color: white;
}
#recipeGridView {
    -fx-background-color: white;
}
#textDisplay {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

#textDisplay .content {
    -fx-background-color: transparent, white, transparent, white;
}

#textDisplay:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

#textDisplay:focused {
    -fx-highlight-fill: #7ecfff;
}

#textDisplay .content {
    -fx-padding: 2px;
    -fx-highlight-fill: #7ecfff;
}
#anchor {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.header1 {
    -fx-background-color: transparent;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #575555;
}
.header1 .scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
.header1 .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
.header1 .scroll-pane .content {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#pins {
    -fx-background-color: transparent;
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #575555;
    -fx-font-weight: bold;
}
#pinBoxPlaceholder {
    -fx-padding: 5;

}
#commandOutputPlaceholder {
    -fx-padding: 5;
}



/* ListView CSS */
#listView {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #212121;
    -fx-prompt-text-fill: #212121;
    -fx-border-color: #FFFFFF;
}


#listView .scroll-pane .content{
    -fx-background-color: #0093ff;
    -fx-background-radius: 6;
}

#listView {
    -fx-selection-bar: green ;
    -fx-selection-bar-non-focused: green ;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #d30063;
    -fx-text-fill: white;
}

#listView .scroll-arrow {
    -fx-padding: 0 0 0 0;
}

.list-cell:even {
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #fedaeb;
    -fx-text-fill: white;
}

.pair-name {
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
}

.pair-second {
    -fx-font-size: 1.2em;
}
#header1 {
    -fx-background-color: transparent;
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI";
    -fx-font-color: #575555;
}
#header1 .scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#header1 .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#header1 .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 10 10;
}
#tags {
    -fx-hgap: 4;
    -fx-vgap: 2;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
