#tabBar {
    -fx-tab-min-height: 5em;
    -fx-tab-max-height: 5em;

    -fx-tab-min-height: 0.5em;
    -fx-tab-min-height: 0.5em;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #4b438c;
    -fx-font-family: "Ubuntu Mono";
    -fx-background-radius: 10 10 0 0;
}

.tab-pane .tab:selected
{
    -fx-background-color: #5f55c9;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}
